#map {
  height: 89vh;
}

#test {
  background-color: #9AC33C
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#bigItem {
    font-size: 22px;
    color: white;
    font-family: Ubuntu
}

#menu {
    background-color: #9AC33C;
}

#logo {
    height: 60px;
    width: 250px;
}
